<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias ="uuid" type="java.util.UUID"/>
        <typeAlias alias="uuidHandler" type="io.github.tyrleng.karsten.transaction.infrastructure.repository.UuidHandler"/>
        <typeAlias alias="bigMoneyHandler" type="io.github.tyrleng.karsten.transaction.infrastructure.repository.BigMoneyHandler"/>
        <typeAlias alias="transaction" type="io.github.tyrleng.karsten.transaction.domain.Transaction"/>
        <typeAlias alias="transactionSplit" type="io.github.tyrleng.karsten.transaction.infrastructure.repository.TransactionSplit"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="io.github.tyrleng.karsten.transaction.infrastructure.repository.UuidHandler"/>
        <typeHandler handler="io.github.tyrleng.karsten.transaction.infrastructure.repository.BigMoneyHandler"/>
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:/home/yihreng/Documents/Databases/KarstenTransactionDevDB/TransactionDB"/>
                <property name="username" value="root"/>
                <property name="password" value="admin"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="TransactionMapper.xml"/>
    </mappers>

</configuration>